.chat-container {
    height: calc(100% - 42px);
    display:  flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: #eeeeee;
}

.chat-list {
    overflow-y: auto;
}


.chat-list::-webkit-scrollbar {
    display: none;
}

.chat-window {
    display: flex;

    &.you {
        justify-content: flex-end;

        .chat-body {
            background-color: #d9fdd4;
        }
    }
}
.chat-body {
    background-color: #ffffff;
    font-size: 11px;
    min-width: 80px;
    max-width: 240px;
    width: fit-content;
    border-radius: 4px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;

    .chat-meta {
        font-size: 9px;
        text-align: right;
    }
}

.chat-form {
    background-color: #ffffff;
  input {
    width: 100%;
    padding: 8px;
    border: none;
    border-radius: 4px;
  }
  button {
    padding: 10px;
    background-color: transparent;
  }
}