.frame {
  width: 310px;
  height: 600px;
  margin: 10px auto;
  padding: 3px;
  border: 2px solid black;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
  border-radius: 20px;
  background-color: black;
  display: flex;
  flex-direction: column;
}
  
.frame-header {
  height: 20px;
}

.frame-body {
  height: 100%;
  background-color: #ffffff;
}

.frame-footer {
  height: 50px;
  color: #ffffff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 60px;
  font-size: 20px;
}