.navbar {
  height: 60px;
  background-color: #10B9B1;
  color: #ffffff;

  .navbar-top {
    .quote-btn {
      border: 1px solid #ffffff;
      border-radius: 4px;
      width: 20px;
      height: 20px;
    }
  }

  .brand {
    font-weight: bold;
    font-size: 18px;
  }

  .nav-user {
    font-weight: bold;
  }

  .nav {
    .nav-left {
      width: 100%;
      display: grid;
      grid-template-columns: repeat(12, 1fr);

      a {
        grid-column: auto/span 3;
        text-align: center;
        color: #ffffff;
        font-size: 16px;
        padding: 4px 0;
        display: flex;
        align-items: center;
        justify-content: center;
        &.active {
          background-color: #21a8a2;
        }
      }

      .nav-icon {
        width: fit-content;
        position: relative;

        &.plus {
          background-color: #ffffff;
          color: #10B9B1;
          height: 16px;
          width: 16px;
          border-radius: 3px;
          display: flex;
          align-items: center;
          justify-content: center;
          font-size: 14px;
        }
        .badge {
          background-color: #FC5C65;
          font-size: 11px;
          width: 11px;
          border-radius: 50%;
          position: absolute;
          right: -8px;
          top: -2px;
        }
      }
    }
  }
}

.detail-navbar {
  height: 40px;
  padding-left: 5px;
  font-weight: bold;

  .arrow-back {
    &:hover {
      cursor: pointer;
    }
  }

  .detail-layout-title {
    text-transform: capitalize;
  }
}