$start: 1;
$end: 4;

@for $i from $start through $end {
    $size: $i * 10;
    .profile-#{$i} {
        width: #{$size}px;
        height: #{$size}px;
    }
}

.profile {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    background-color: #10B9B1;
    color: #ffffff;
    margin-right: 5px;
    position: relative;

    &.online::after {
        content: "";
        width: 7px;
        height: 7px;
        border-radius: 50%;
        background-color: red;
        position: absolute;
        bottom: -2px;
        right: -2px;
        border: 1px solid #ffffff;
    }
}