.room-container {
    height: 542px;
    overflow-y: scroll;
    &::-webkit-scrollbar {
        display: none;
    }
}
.room {
    width: 100%;
    display: flex;
    position: relative;
    padding: 10px 5px;
    cursor: pointer;
    .time {
        font-size: 10px;
        position: absolute;
        top: 5px;
        right: 5px;
    }
    .unseen {
        position: absolute;
        bottom: 8px;
        right: 5px;
        min-height: 20px;
        min-width: 20px;
        width: fit-content;
        height: fit-content;
        padding: 3px;
        background-color: red;
        display: flex;
        align-items: center;
        justify-content: center;
        color: #ffffff;
        font-size: 9px;
        border-radius: 50%;
        font-weight: bold;
    }
    &:hover {
        background-color: #eeeeee;
    }
}
.room-info {
    margin-left: 5px;
    .username {
        font-weight: bold;
    }
    .message {
        font-size: 11px;
    }
}

.message-container {
    height: 528px;
    padding: 0 10px;
    overflow-y: scroll;
    &::-webkit-scrollbar {
        display: none;
    }

    .message-item {
        display: flex;
        &.you {
            justify-content: flex-end;
            .message-meta {
                background-color: #d9fdd4;
            }
        }
        .message-meta {
            padding: 5px;
            margin: 5px 0;
            max-width: 250px;
            border-radius: 5px;
            box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
            .body {
                font-size: 11px;
            }
            .time {
                text-align: right;
                font-size: 10px;
            }
        }
    }
}

.message-form {
    width: 100%;
    border-top: 1px solid #bdbdbd;
    display: flex;
    align-items: center;
    justify-content: space-between;
    input {
        width: 100%;
    }
    input, button {
        padding: 7px;
        background-color: transparent;
        border: 1px solid transparent
    }
}